

.container {
  margin-bottom: 3rem; /* Añade un margen inferior para separar del pie de página */
}

.card {
  margin-top: 1rem; /* Añade un pequeño margen superior para mejor separación */
}

.card-header {
  border-top-left-radius: 0.5rem !important;
  border-top-right-radius: 0.5rem !important;
}

.card-body {
  padding: 1.5rem; /* Aumenta el padding interno para mejor legibilidad */
}

.table-responsive {
  margin-bottom: 1rem; /* Espacio adicional debajo de la tabla */
}

.btn-outline-primary, .btn-outline-warning, .btn-outline-danger {
  font-weight: 500; /* Hace los botones más legibles */
}

.badge {
  font-size: 0.9rem; /* Ajusta el tamaño de los badges para consistencia */
}